<div id="home">

  <div class="container home">
    <div class="home-title">
      <div class="header"></div>
    </div>

    <div class="home-body">
      <div class="col-8 offset-2">
        <p class="headline">Existent-Shell Designs</p>
        <h1>{{msg}}</h1>
        <br>
        <p class="intro">Products for sale include custom frames made to order with
          reclaimed wood, and original watercolor paintings!</p>
        <br>
        <p class="intro">Click below to view the products displayed on the gallery page.</p>
        <a class="btn btn-primary" href="/gallery" role="button">Visit Gallery!</a>

      </div>
    </div>

    <div class="footer">Made by M</div>
  </div>
</div>