.checkout {
    display: flex;
    flex-direction: column;
    background-color: rgba(123, 158, 182, 0.863);
}

.shoppingCart {
    width: 50%;
    background-color: whitesmoke;
    align-self: center;
    margin: 1em;
    border-radius: 25px;
}

.cartTitle {
    height: 60px;
    padding: 20px;
}

.cartItem {
    padding: 20px;
    height: 100px;
    display: flex;
}

.button {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
    display: inline-block;
    cursor: pointer;
}

.image {
    margin-right: 50px;
}

/* contact form styling */

.contactForm {
    background-color: rgba(123, 158, 182, 0.863);
    padding: 7em 4em;
}

.contact {
    width: 100%;
    display: inline-block;
    background-color: rgba(123, 158, 182, 0.863);
}

/* checkout page styling */
#checkPage {
    text-align: center;
    margin-top: 1em;
    font-size: larger;
    background-color: rgba(123, 158, 182, 0.863);
    min-height: 500px;
}

#checkTitle {
    font-size: 40px;
}
